.cursor-pointer {
    cursor: pointer !important;
}

.glass-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.template-label:hover {
    border-bottom: solid 2px rgb(14, 14, 250);
    cursor: pointer;
    color: rgb(0, 0, 0) !important;
}

.activetab {
    border-bottom: solid 2px rgb(14, 14, 250);
    cursor: pointer;
    color: rgb(0, 0, 0)
}

.Scroll {
    overflow-y: auto;
    max-height: 515px;
}